{{set root=".."}}
<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>수플레이스</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{root}}/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{root}}/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="{{root}}/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{root}}/css/main.css">
	<script src="{{root}}/plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="sp-container">
	<button id="scroll-up-button">TOP</button>
	<header id="main-bar">
		<div class="main-bar-container">
			<div class="main-bar-body">
				<div id="main-bar-logo"></div>
				<ul id="main-bar-menu">
					<li class="menu-hotple">핫플</li>
					<li class="menu-theme">테마</li>
					<li class="menu-order">주문</li>
				</ul>
				<button id="main-bar-login-button">
					로그인
				</button>
			</div>
		</div>
	</header>
		<div id="main-top">
			<div class="main-top-layer-dark"></div>
			<div id="main-top-body">
				<div id="main-top-text">
					<div id="main-top-text-title">SOO Place : #여기 꼭 가봐</div>
					<div id="main-top-text-subtitle">인스타그램, 페이스북, 포스퀘어 데이터 분석에 전문가 평가를
						<br>더하여 꼭 한 번 가볼만 한 최고의 장소를 추천합니다.</div>
				</div>
				<div id="main-top-search-box">
					<div id="main-top-search-form">
						<input id="main-top-search-input" type="text" placeholder="검색해보세요">
						<div class="search-box-clear-btn"></div>
						<i class="fa fa-search"></i>
					</div>
					<div id="search-box-layer">
						<div class="search-box-layer-container">
							<div class="search-box-layer-recently">
								<div class="search-box-layer-title">
									최근 검색
								</div>
								<div class="search-box-layer-list-container">
									<ul class="search-box-layer-list-body">
										<li class="search-box-layer-list">
											<div class="list-body recently-search">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													한강진
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="search-box-layer-recommend">
								<div class="search-box-layer-title">
									얍플 추천
								</div>
								<div class="search-box-layer-list-container">
									<ul class="search-box-layer-list-body">
										<li class="search-box-layer-list">
											<div class="list-body always order-home">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													집으로 주문하기
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body search-storename">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													<span>목동</span>(으)로 상호검색
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body default yap-recommend instar">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													인스타그램 HOT100
												</div>
												<div class="search-box-layer-list-amount">
													100+
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body default yap-recommend facebook">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													페이스북 HOT100
												</div>
												<div class="search-box-layer-list-amount">
													90+
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body default yap-recommend sc">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													서촌 데이트 맛집
												</div>
												<div class="search-box-layer-list-amount">
													70+
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body default yap-recommend gj">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													광주 맛집
												</div>
												<div class="search-box-layer-list-amount">
													200+
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body default yap-recommend jj">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													제주도 여행 어때?
												</div>
												<div class="search-box-layer-list-amount">
													400+
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body yap-recommend hgj">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													한강진 맛집
												</div>
												<div class="search-box-layer-list-amount">
													80+
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body default yap-recommend ds">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													도산공원 맛집
												</div>
												<div class="search-box-layer-list-amount">
													80+
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body default yap-recommend yn">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													연남동 맛집
												</div>
												<div class="search-box-layer-list-amount">
													100+
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body default yap-recommend yn">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													연남동 맛집
												</div>
												<div class="search-box-layer-list-amount">
													100+
												</div>
											</div>
										</li>
										<li class="search-box-layer-list">
											<div class="list-body yap-recommend md">
												<div class="search-box-layer-list-img"></div>
												<div class="search-box-layer-list-text">
													목동야구장 맛집
												</div>
												<div class="search-box-layer-list-storename">
													상호
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="main-top-recently-location">
					<ul class="main-top-recently-location-list">
						<li>최근 본 지역 :</li>
						<li>부암동</li>
						<li>명동</li>
						<li>신촌</li>
						<li>여의도</li>
						<li>서래마을</li>
						<li>부암동</li>
						<li>명동</li>
						<li>신촌</li>
						<li>여의도</li>
						<li>서래마을</li>
						<li>여의도</li>
						<li>서래마을</li>
						<li>부암동</li>
						<li>명동</li>
						<li>신촌</li>
						<li>여의도</li>
						<li>서래마을</li>
					</ul>
				</div>
			</div>
		</div>
	<div id="main-contents">
		<section class="section01">
			<div class="section01-container">
				<div class="section01-text">
					<div class="section01-title">
						최근 본 장소
						<span></span>
					</div>
					<div class="section01-subtitle">
						봤던 곳도 다시 보자!
					</div>
				</div>
				<div class="section01-body">
					<div class="section-paging-arrow left">
						<i class="fa fa-angle-left"></i>
					</div>
					<ul class="section01-body-list">
						<li>
							<div class="main-section01-body-list-img" style="background-image: url('{{root}}/img/main-section01-img01.jpg')"></div>
							<div class="main-section01-body-list-text">
								<div class="main-section01-body-list-info-box">
									<div class="main-section01-body-list-name">하동관</div>
									<div class="main-section01-body-list-info">
										<div class="main-section01-body-list-info-local">중앙동4가</div><!--
						 		 --><div class="main-section01-body-list-info-comment">진흥각과 함께 인천에서 오래된 화상 중식당.</div>
									</div>
								</div><!--
						 --><div class="main-section01-body-list-section-score">6.7</div>
							</div>
						</li>
						<li>
							<div class="main-section01-body-list-img" style="background-image: url('{{root}}/img/main-section01-img02.jpg')"></div>
							<div class="main-section01-body-list-text">
								<div class="main-section01-body-list-info-box">
									<div class="main-section01-body-list-name">거북이금고</div>
									<div class="main-section01-body-list-info">
										<div class="main-section01-body-list-info-local">여의도</div><!--
						 		 --><div class="main-section01-body-list-info-comment">돼지구이, 수육, 국수</div>
									</div>
								</div><!--
						 --><div class="main-section01-body-list-section-score">6.7</div>
							</div>
						</li>
						<li>
							<div class="main-section01-body-list-img" style="background-image: url('{{root}}/img/main-section01-img03.jpg')"></div>
							<div class="main-section01-body-list-text">
								<div class="main-section01-body-list-info-box">
									<div class="main-section01-body-list-name">해이루</div>
									<div class="main-section01-body-list-info">
										<div class="main-section01-body-list-info-local">덕진구</div><!--
						 		 --><div class="main-section01-body-list-info-comment">돼지등뼈를 사용한 뼈다귀해장국 맛이 일품이다.</div>
									</div>
								</div><!--
						 --><div class="main-section01-body-list-section-score">6.7</div>
							</div>
						</li>
					</ul>
					<div class="section-paging-arrow right">
						<i class="fa fa-angle-right"></i>
					</div>
				</div>
			</div>
		</section>
		<section class="section02">
			<div class="section02-container">
				<div class="main-section02-text">
					<div class="main-section02-title">
						소셜랭킹 한 눈에 보기
					</div>
					<div class="main-section02-subtitle">
						요즘 <span>핫하다</span>는 그 곳
					</div>
				</div>
				<div class="section02-body">
					<div class="section02-instargram">
						<div class="instargram-container">
							<div class="instargram-title">
								인스타그램 Weekly <span>HOT</span>
							</div>
							<div class="instargram-imgs">
								<div class="instargram-imgs-top">
									<div class="instargram-top-big" style="background-image: url('{{root}}/img/main-section01-img01.jpg')">
										<div class="layer-darker">
											<div class="social-img-text">
												<div class="img-text-big-store">코하루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루</div>
												<div class="img-text-big-description">라멘메넴네메넴넴넹루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루멘엠</div>
											</div>
										</div>
									</div>
									<div class="instargram-top-small">
										<div class="instargram-top-small-up" style="background-image: url('{{root}}/img/main-section01-img02.jpg')">
											<div class="layer-darker">
												<div class="social-img-text">
													<div class="img-text-small-store">코하하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루루</div>
												</div>
											</div>
										</div>
										<div class="instargram-top-small-down" style="background-image: url('{{root}}/img/main-section01-img03.jpg')">
											<div class="layer-darker">
												<div class="social-img-text">
													<div class="img-text-small-store">코하하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루루</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="instargram-imgs-bottom">
									<div class="instargram-bottom-small" style="background-image: url('{{root}}/img/main-section01-img01.jpg')">
										<div class="layer-darker">
											<div class="social-img-text">
												<div class="img-text-small-store">코하루루루루루루루루루루루루루루루루루루루루루루</div>
											</div>
										</div>
									</div>
									<div class="instargram-bottom-small" style="background-image: url('{{root}}/img/main-section01-img02.jpg')">
										<div class="layer-darker">
											<div class="social-img-text">
												<div class="img-text-small-store">코하하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루루</div>
											</div>
										</div>
									</div>
									<div class="instargram-bottom-small" style="background-image: url('{{root}}/img/main-section01-img03.jpg')">
										<div class="layer-darker">
											<div class="social-img-text">
												<div class="img-text-small-store">코하하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루루</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="instargram-description">
								<i class="fa fa-info-circle"></i>
								<div class="instargram-description-text">최근 2주간 인스타그램에서 사진수가 급상승한 장소입니다.</div>
							</div>
							<div class="instargram-more">인스타그램 HOT100 더보기&gt;</div>
						</div>
					</div>
					<div class="section02-facebook">
						<div class="facebook-container">
							<div class="facebook-title">
								페이스북 Weekly <span>HOT</span>
							</div>
							<div class="facebook-imgs">
								<div class="facebook-imgs-top">
									<div class="facebook-top-small" style="background-image: url('{{root}}/img/main-section01-img01.jpg')">
										<div class="layer-darker">
											<div class="social-img-text">
												<div class="img-text-small-store">코하루루루루루루루루루루루루루루루루루루루루루루</div>
											</div>
										</div>
									</div>
									<div class="facebook-top-small" style="background-image: url('{{root}}/img/main-section01-img02.jpg')">
										<div class="layer-darker">
											<div class="social-img-text">
												<div class="img-text-small-store">코하하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루루</div>
											</div>
										</div>
									</div>
									<div class="facebook-top-small" style="background-image: url('{{root}}/img/main-section01-img03.jpg')">
										<div class="layer-darker">
											<div class="social-img-text">
												<div class="img-text-small-store">코하하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루루</div>
											</div>
										</div>
									</div>
								</div>
								<div class="facebook-imgs-bottom">
									<div class="facebook-bottom-small">
										<div class="bottom-small-up" style="background-image: url('{{root}}/img/main-section01-img02.jpg')">
											<div class="layer-darker">
												<div class="social-img-text">
													<div class="img-text-small-store">코하하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루루</div>
												</div>
											</div>
										</div>
										<div class="bottom-small-down" style="background-image: url('{{root}}/img/main-section01-img03.jpg')">
											<div class="layer-darker">
												<div class="social-img-text">
													<div class="img-text-small-store">코하하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루하루루루루루루루루루루루</div>
												</div>
											</div>
										</div>
									</div>
									<div class="bottom-big" style="background-image: url('{{root}}/img/main-section01-img01.jpg')">
										<div class="layer-darker">
											<div class="social-img-text">
												<div class="img-text-big-store">코하루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루</div>
												<div class="img-text-big-description">라멘메넴네메넴넴넹루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루루멘엠</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="facebook-description">
								<i class="fa fa-info-circle"></i>
								<div class="facebook-description-text">최근 2주간 페이스북에서 체크인이 급상승한 장소입니다.</div>
							</div>
							<div class="facebook-more">페이스북 HOT100 더보기&gt;</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section03">
			<div class="section03-container">
				<div class="section03-text">
					<div class="section03-title">
						핫플레이스 포 유
						<span></span>
					</div>
					<div class="section03-subtitle">
						비주얼 끝판왕 맛집지도
					</div>
				</div>
				<div class="section03-body">
					<ul class="hotplace-imgs">
						<li class="hotplace-img-seoul" style="background-image: url('{{root}}/img/hotple-map-su.jpg')">
							<div class="layer-darker">
								<div class="hotplace-img-text">서울 나들이 고고</div>
							</div>
						</li>
						<li class="hotplace-img-daegu" style="background-image: url('{{root}}/img/hotple-map-dg.jpg')">
							<div class="layer-darker">
								<div class="hotplace-img-text">대구 수성못 나들이</div>
							</div>
						</li>
						<li class="hotplace-img-incheon" style="background-image: url('{{root}}/img/hotple-map-ic.jpg')">
							<div class="layer-darker">
								<div class="hotplace-img-text">이번 주말, 인천 어때요?</div>
							</div>
						</li>
						<li class="hotplace-img-chuncheon" style="background-image: url('{{root}}/img/hotple-map-cc.jpg')">
							<div class="layer-darker">
								<div class="hotplace-img-text">춘천 가는 기차는 ♬</div>
							</div>
						</li>
					</ul>
					<div class="hotplace-more">핫플 더보기&gt;</div>
				</div>
			</div>
		</section>
		<section class="section04">
			<div class="section04-container">
				<div class="section04-body">
					<div class="section04-title-container">
						<div class="main-section04-title-box">
							<div class="main-section04-title">
								Today's <span>Pick</span>
							</div>
						</div>
					</div>
					<span class="title-line"></span>
					<ul class="todayspick-imgs">
						<li class="todayspick-img" style="background-image: url('{{root}}/img/main-section01-img01.jpg')">
							<div class="layer-darker">
								<div class="todayspick-img-text">
									<div class="todayspick-img-text-description">
										비싸다고 다 맛있는 게 아니야~
									</div>
									<div class="todayspick-img-text-title">
										합리적 가격의<br>서울 스테이크 맛집
									</div>
								</div>
							</div>
						</li>
						<li class="todayspick-img" style="background-image: url('{{root}}/img/main-section01-img02.jpg')">
							<div class="layer-darker">
								<div class="todayspick-img-text">
									<div class="todayspick-img-text-description">
										이곳에선 왠지 젊어지는 기분이랄까
									</div>
									<div class="todayspick-img-text-title">
										젊은 열정이<br>가득 넘치는 대학로
									</div>
								</div>
							</div>
						</li>
						<li class="todayspick-img" style="background-image: url('{{root}}/img/main-section01-img03.jpg')">
							<div class="layer-darker">
								<div class="todayspick-img-text">
									<div class="todayspick-img-text-description">
										핫플레이스에서 부산 토박이 음식까지
									</div>
									<div class="todayspick-img-text-title">
										1일 5식은<br>거뜬한 부산 먹방
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="section05">
			<div class="section05-container">
				<div class="section05-body">
					<div class="main-section05-title-area">
						<div class="section05-title">
							너를위한<strong>추천</strong>테마
						</div>
						<div class="section05-subtitle-box">
							<div class="section05-subtitle">
								꼭 한 번 가볼 만한 장소와 그 이야기
							</div>
						</div>
					</div>
					<div class="section-paging-arrow section05 left">
						<i class="fa fa-angle-left"></i>
					</div>
					<div class="section05-contents editor-recommend">
						<div class="section05-contents-title">
							에디터 추천 맛집 리스트(12개)
						</div>

						{{> theme.recommend.list}}

					</div>
					<div class="section-paging-arrow section05 right">
						<i class="fa fa-angle-right"></i>
					</div>
					<div class="section05-contents theme-recommend">
						<div class="section05-contents-title">
							어디 갈지 망설여 진다면?
						</div>
						<ul class="theme-recommend-list">
							<li style="background-image: url('{{root}}/img/main-section05-recomend-img01.jpg')">
								<div class="theme-recommend-list-text">
									#핫플Best
								</div>
							</li>
							<li style="background-image: url('{{root}}/img/main-section05-recomend-img02.jpg')">
								<div class="theme-recommend-list-text">
									#여기꼭가봐
								</div>
							</li>
							<li style="background-image: url('{{root}}/img/main-section05-recomend-img03.jpg')">
								<div class="theme-recommend-list-text">
									#부산
								</div>
							</li>
							<li style="background-image: url('{{root}}/img/main-section05-recomend-img04.jpg')">
								<div class="theme-recommend-list-text">
									#베이커리
								</div>
							</li>
							<li style="background-image: url('{{root}}/img/main-section05-recomend-img05.jpg')">
								<div class="theme-recommend-list-text">
									#경주
								</div>
							</li>
							<li style="background-image: url('{{root}}/img/main-section05-recomend-img06.jpg')">
								<div class="theme-recommend-list-text">
									#대구
								</div>
							</li>
						</ul>
					</div>
					<div class="theme-more">테마 더보기&gt;</div>
				</div>
			</div>
		</section>
		<div class="local-list">
			<div class="local-list-container">
				<div class="local-list-body">
					<div class="local-list-title">
						인기지역
					</div>
					<div class="local-list-area">
						<ul class="local-category">
							<li class="su active">서울</li>
							<li class="gk">경기</li>
							<li class="ic">인천</li>
							<li class="dj">대전</li>
							<li class="dk">대구</li>
							<li class="bs">부산</li>
							<li class="us">울산</li>
							<li class="gj">광주</li>
							<li class="jj">제주</li>
							<li class="kw">강원</li>
							<li class="cb">충북</li>
							<li class="cn">충남</li>
							<li class="kb">경북</li>
							<li class="kn">경남</li>
							<li class="jb">전북</li>
							<li class="jn">전남</li>
						</ul>
						<div class="local-scope">
							<ul class="su-gn">
								<div class="local-scope-title">
									서울강남(34)
								</div>
								<li>가로수길</li>
								<li>강남구청</li>
								<li>강남언덕길</li>
								<li>강남역</li>
								<li>고속터미널</li>
								<li>교대역</li>
								<li>남부터미널</li>
								<li>논현</li>
								<li>도산대로</li>
								<li>사당역</li>
								<li>삼성</li>
								<li>서래마을</li>
								<li>서울대입구</li>
								<li>선릉역</li>
								<li>신림역</li>
								<li>신천역</li>
								<li>압구정로데오</li>
								<li>압구정역</li>
								<li>양재역</li>
								<li>여의도</li>
								<li>역삼</li>
								<li>천호역</li>
								<li>청담</li>
								<br>
								<li>서울 강남구</li>
								<li>서울 강동구</li>
								<li>서울 강서구</li>
								<li>서울 관악구</li>
								<li>서울 구로구</li>
								<li>서울 금천구</li>
								<li>서울 동작구</li>
								<li>서울 서초구</li>
								<li>서울 송파구</li>
								<li>서울 양천구</li>
								<li>서울 영등포구</li>
							</ul>
							<ul class="su-gb">
								<div class="local-scope-title">
									서울강북(41)
								</div>
								<li>건대</li>
								<li>경리단길</li>
								<li>광화문</li>
								<li>대학로</li>
								<li>독서당길</li>
								<li>명동</li>
								<li>보석길</li>
								<li>부암동</li>
								<li>북촌</li>
								<li>삼청동</li>
								<li>상수</li>
								<li>서촌</li>
								<li>성북동</li>
								<li>숙대입구역</li>
								<li>시청</li>
								<li>신촌</li>
								<li>연남동</li>
								<li>연희동</li>
								<li>우사단로</li>
								<li>이대앞</li>
								<li>이촌</li>
								<li>이태원</li>
								<li>인사동</li>
								<li>한강진</li>
								<li>합정</li>
								<li>해방촌</li>
								<li>홍대</li>
								<br>
								<li>서울 강북구</li>
								<li>서울 광진구</li>
								<li>서울 노원구</li>
								<li>서울 도봉구</li>
								<li>서울 동대문구</li>
								<li>서울 마포구</li>
								<li>서울 서대문구</li>
								<li>서울 성동구</li>
								<li>서울 성북구</li>
								<li>서울 용산구</li>
								<li>서울 은평구</li>
								<li>서울 종로구</li>
								<li>서울 중구</li>
								<li>서울 중량구</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{> login.layer}}



{{> footer jsName='main'}}
