{{set root=".."}}
{{set pageId="mypage"}}
{{> header title='마이 - 리뷰 : 얍플레이스(YAP Place)' cssName='mypage'}}

<div id="mypage-contents">
	<div class="profile-cover">
		<div class="mypage-container">
			<div class="body">
				<div class="my-profile">
					<div class="user-img"></div>
					<div class="user-info">
						<div class="user-name">
							100suhyunqqqqqqqqq
						</div>
						<div class="user-sns">
							<div class="following">
								팔로잉 0
							</div>
							<div class="follower">
								팔로워 0
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mypage-body mypage-container">
		<div class="body">
			<ul class="mypage-menu">
				{{#each (getObj pageId)}}
					<li class="{{class}}">
						{{title}}
						<span>
							{{count}}
						</span>
					</li>
				{{/each}}
			</ul>
			<div class="content-box">
				<div class="mypage-filter">
					<div class="mypage-category"></div>
				</div>
				<div class="content-body"></div>
			</div>
		</div>
	</div>
</div>



{{> footer jsName='mypage'}}
