{{set root=".."}}


<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>소현</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{root}}/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{root}}/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="{{root}}/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/jquery-asRange/css/asRange.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap-slider/css/bootstrap-slider.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/slick-carousel/css/slick.css">
	<link rel="stylesheet" href="{{root}}/plugins/slick-carousel/css/slick-theme.css">
	<link rel="stylesheet" href="{{root}}/css/sohyun.css">
	<script src="{{root}}/plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>


<div class="img01" style="background-image: url('{{root}}/img/outdoor_brand_main_ver02.jpg')">></div>


<script>
	var global = {
		root: "{{root}}",
	};
</script>
<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/sohyun.js"></script>
</body>
</html>
