{{set root=".."}}
{{> header title='얍플레이스(YAP Place)' cssName='theme.all'}}

<div id="theme-all-contents">
	<div class="top-img-bar">
		<div class="top-img-bar-container">
			<div class="top-img-bar-body">
				<ul class="theme-menu">
					<li class="theme-menu-newest">
						<div class="theme-menu-text">
							최신테마
						</div>
					</li>
					<li class="theme-menu-all">
						<div class="theme-menu-text active">
							인기태그
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="theme-list-container">
		<div class="theme-list-body">
			<ul class="theme-list">
				<li>
					<div class="theme-tag-list-img" style="background-image: url('{{root}}/img/theme-tag-list-img01.jpg')"></div>
					<div class="theme-tag-text-area">
						<div class="theme-tag-keyword">
							#여기 꼭 가봐
						</div>
						<div class="theme-tag-list-more-dim">
							<div class="theme-tag-list-more">
								<span>139</span> 개 테마 &gt;
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="theme-tag-list-img" style="background-image: url('{{root}}/img/theme-tag-list-img02.jpg')"></div>
					<div class="theme-tag-text-area">
						<div class="theme-tag-keyword">
							#핫플Best
						</div>
						<div class="theme-tag-list-more-dim">
							<div class="theme-tag-list-more">
							<span>139</span> 개 테마 &gt;
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="theme-tag-list-img" style="background-image: url('{{root}}/img/theme-tag-list-img03.jpg')"></div>
					<div class="theme-tag-text-area">
						<div class="theme-tag-keyword">
							#블루리본
						</div>
						<div class="theme-tag-list-more-dim">
							<div class="theme-tag-list-more">
							<span>139</span> 개 테마 &gt;
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="theme-tag-list-img" style="background-image: url('{{root}}/img/theme-tag-list-img01.jpg')"></div>
					<div class="theme-tag-text-area">
						<div class="theme-tag-keyword active">
							#여기 꼭 가봐
						</div>
						<div class="theme-tag-list-more-dim">
							<div class="theme-tag-list-more">
								<span>139</span> 개 테마 &gt;
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="theme-tag-list-img" style="background-image: url('{{root}}/img/theme-tag-list-img02.jpg')"></div>
					<div class="theme-tag-text-area">
						<div class="theme-tag-keyword">
							#핫플Best
						</div>
						<div class="theme-tag-list-more-dim">
							<div class="theme-tag-list-more">
								<span>139</span> 개 테마 &gt;
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="theme-tag-list-img" style="background-image: url('{{root}}/img/theme-tag-list-img03.jpg')"></div>
					<div class="theme-tag-text-area">
						<div class="theme-tag-keyword">
							#블루리본
						</div>
						<div class="theme-tag-list-more-dim">
							<div class="theme-tag-list-more">
								<span>139</span> 개 테마 &gt;
							</div>
						</div>
					</div>
				</li><li>
				<div class="theme-tag-list-img" style="background-image: url('{{root}}/img/theme-tag-list-img01.jpg')"></div>
				<div class="theme-tag-text-area">
					<div class="theme-tag-keyword active">
						#여기 꼭 가봐
					</div>
					<div class="theme-tag-list-more-dim">
						<div class="theme-tag-list-more">
							<span>139</span> 개 테마 &gt;
						</div>
					</div>
				</div>
			</li>
				<li>
					<div class="theme-tag-list-img" style="background-image: url('{{root}}/img/theme-tag-list-img02.jpg')"></div>
					<div class="theme-tag-text-area">
						<div class="theme-tag-keyword">
							#핫플Best
						</div>
						<div class="theme-tag-list-more-dim">
							<div class="theme-tag-list-more">
								<span>139</span> 개 테마 &gt;
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="theme-tag-list-img" style="background-image: url('{{root}}/img/theme-tag-list-img03.jpg')"></div>
					<div class="theme-tag-text-area">
						<div class="theme-tag-keyword">
							#블루리본
						</div>
						<div class="theme-tag-list-more-dim">
							<div class="theme-tag-list-more">
								<span>139</span> 개 테마 &gt;
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

{{> footer jsName='theme.all'}}
