{{set root=".."}}
{{> header title='얍플레이스(YAP Place)' cssName='theme.tag'}}

<div id="theme-tag-contents">
	<div class="theme-tag-top-bar-img" style="background-image: url('{{root}}/img/theme-tag-top-bar-img01.jpg')">
		<div class="top-img-bar-container">
			<div class="top-img-bar-body">
				<div class="top-img-bar-tag-name">
					#핫플Best
				</div>
			</div>
		</div>
	</div>
	<div class="theme-list-container">
		<div class="theme-place-area">
			<div class="theme-list-body">
				<ul class="theme-list">
					<li>
						<div class="theme-list-img" style="background-image: url('{{root}}/img/theme-list-img01.jpg')"></div>
						<div class="theme-list-text-area">
							<div class="theme-list-triangle-area">
								<div class="theme-list-triangle-left"></div>
								<div class="theme-list-triangle"></div>
								<div class="theme-list-triangle-right"></div>
							</div>
							<div class="theme-list-text">
								맛있게 살빼자,<br>
								서울 다이어트 맛집
							</div>
						</div>
					</li>
					<li>
						<div class="theme-list-img" style="background-image: url('{{root}}/img/theme-list-img02.jpg')"></div>
						<div class="theme-list-text-area">
							<div class="theme-list-triangle-area">
								<div class="theme-list-triangle-left"></div>
								<div class="theme-list-triangle"></div>
								<div class="theme-list-triangle-right"></div>
							</div>
							<div class="theme-list-text">
								얼큰하고 개운하게<br>
								서울 해장 음식
							</div>
						</div>
					</li>
					<li>
						<div class="theme-list-img" style="background-image: url('{{root}}/img/theme-list-img03.jpg')"></div>
						<div class="theme-list-text-area">
							<div class="theme-list-triangle-area">
								<div class="theme-list-triangle-left"></div>
								<div class="theme-list-triangle"></div>
								<div class="theme-list-triangle-right"></div>
							</div>
							<div class="theme-list-text">
								밥집부터 카페까지<br>
								종묘 옆 각양각색 맛집
							</div>
						</div>
					</li>
					<li>
						<div class="theme-list-img" style="background-image: url('{{root}}/img/theme-list-img04.jpg')"></div>
						<div class="theme-list-text-area">
							<div class="theme-list-triangle-area">
								<div class="theme-list-triangle-left"></div>
								<div class="theme-list-triangle"></div>
								<div class="theme-list-triangle-right"></div>
							</div>
							<div class="theme-list-text">
								추울 때 유난히 생각나는<br>
								서울 일본식 주점
							</div>
						</div>
					</li>
					<li>
						<div class="theme-list-img" style="background-image: url('{{root}}/img/theme-list-img05.jpg')"></div>
						<div class="theme-list-text-area">
							<div class="theme-list-triangle-area">
								<div class="theme-list-triangle-left"></div>
								<div class="theme-list-triangle"></div>
								<div class="theme-list-triangle-right"></div>
							</div>
							<div class="theme-list-text">
								합리적 가격의<br>
								서울 스테이크 맛집
							</div>
						</div>
					</li>
					<li>
						<div class="theme-list-img" style="background-image: url('{{root}}/img/theme-list-img06.jpg')"></div>
						<div class="theme-list-text-area">
							<div class="theme-list-triangle-area">
								<div class="theme-list-triangle-left"></div>
								<div class="theme-list-triangle"></div>
								<div class="theme-list-triangle-right"></div>
							</div>
							<div class="theme-list-text">
								남산 산책 후<br>
								맛있는 한남동
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{{> footer jsName='theme.tag'}}
