<footer>
	<div class="footer-container">
		<div class="footer-body">
			<div class="footer-sns-shortcut">
				<div class="footer-sns-shortcut-facebook" style="background-image: url('img/sp_footer_sns_facebook.png')"></div>
				<div class="footer-sns-shortcut-blog" style="background-image: url('img/sp_footer_sns_blog.png')"></div>
				<div class="footer-sns-shortcut-instargram" style="background-image: url('img/sp_footer_sns_instargram.png')"></div>
			</div>
			<div class="footer-site-info-container">
				<ul class="footer-site-info">
					<li>공지사항</li>
					<li>자주 묻는 질문</li>
					<li>서비스 소개</li>
					<li>맛집추천</li>
					<li>문의하기</li>
					<li>이용약관</li>
					<li>개인정보 취급방침</li>
					<li>위치기반 서비스 이용약관</li>
					<li>SNS정보 취급방침</li>
				</ul>
			</div>

			<ul class="footer-company-info">
				<li>(주)열두시</li>
				<li>대표이사: 김상목</li>
				<li>전화번호: 070-4327-4369</li>
				<li class="corp-resistration-num" style="color: black">사업자등록번호: 114-87-13163</li>
				<li>통신판매업신고: 제 2016-서울서초-0484호</li>
				<br>
				<li>주소: 서울특별시 서초구 강남대로 623, 10층(잠원동, 우일빌딩)</li>
			</ul>
			<div class="footer-copyright">
				Copyright © 열두시 Inc.
			</div>
		</div>
	</div>
</footer>
</div>


<script>
	var global = {
		root: "{{root}}",
	};
</script>
<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/{{jsName}}.js"></script>
</body>
</html>
