{{set root="../.."}}
<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{title}}</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{root}}/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{root}}/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="{{root}}/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/jquery-asRange/css/asRange.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap-slider/css/bootstrap-slider.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/slick-carousel/css/slick.css">
	<link rel="stylesheet" href="{{root}}/plugins/slick-carousel/css/slick-theme.css">
	<link rel="stylesheet" href="{{root}}/css/{{cssName}}.css">
	<script src="{{root}}/plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="sp-container">
	<button id="scroll-up-button">TOP</button>
	<header>
		<div class="header">
			<div class="header-bar-container">
				<div class="header-bar-body">
					<div class="header-bar logo"></div>
					<ul class="header-bar menu">
						<li class="menu-hotple">핫플</li>
						<li class="menu-theme">테마</li>
						<li class="menu-order">주문</li>
					</ul>
					<div id="header-top-search-box">
						<div id="header-top-search-form">
							<input id="header-top-search-input" type="text" placeholder="검색해보세요">
							<div class="search-box-clear-btn"></div>
							<i class="fa fa-search"></i>
						</div>
						<div id="header-search-box-layer">
							<div class="search-box-layer-container">
								<div class="search-box-layer-recently">
									<div class="search-box-layer-title">
										최근 검색
									</div>
									<div class="search-box-layer-list-container">
										<ul class="search-box-layer-list-body">
											<li class="search-box-layer-list">
												<div class="list-body recently-search">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														한강진
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="search-box-layer-recommend">
									<div class="search-box-layer-title">
										얍플 추천
									</div>
									<div class="search-box-layer-list-container">
										<ul class="search-box-layer-list-body">
											<li class="search-box-layer-list">
												<div class="list-body always order-home">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														집으로 주문하기
													</div>
												</div>
											</li>
											<li class="search-box-layer-list">
												<div class="list-body search-storename">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														<span>목동</span>(으)로 상호검색
													</div>
												</div>
											</li>
											<li class="search-box-layer-list">
												<div class="list-body default yap-recommend instar">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														인스타그램 HOT100
													</div>
													<div class="header-bar search-box-layer-list-amount">
														100+
													</div>
												</div>
											</li>
											<li class="search-box-layer-list">
												<div class="list-body default yap-recommend facebook">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														페이스북 HOT100
													</div>
													<div class="header-bar search-box-layer-list-amount">
														90+
													</div>
												</div>
											</li>
											<li class="search-box-layer-list">
												<div class="list-body default yap-recommend sc">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														서촌 데이트 맛집
													</div>
													<div class="header-bar search-box-layer-list-amount">
														70+
													</div>
												</div>
											</li>
											<li class="search-box-layer-list">
												<div class="list-body default yap-recommend gj">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														광주 맛집
													</div>
													<div class="header-bar search-box-layer-list-amount">
														200+
													</div>
												</div>
											</li>
											<li class="search-box-layer-list">
												<div class="list-body default yap-recommend jj">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														제주도 여행 어때?
													</div>
													<div class="header-bar search-box-layer-list-amount">
														400+
													</div>
												</div>
											</li>
											<li class="search-box-layer-list">
												<div class="list-body yap-recommend hgj">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														한강진 맛집
													</div>
													<div class="header-bar search-box-layer-list-amount">
														80+
													</div>
												</div>
											</li>
											<li class="search-box-layer-list">
												<div class="list-body default yap-recommend ds">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														도산공원 맛집
													</div>
													<div class="header-bar search-box-layer-list-amount">
														80+
													</div>
												</div>
											</li>
											<li class="search-box-layer-list">
												<div class="list-body default yap-recommend yn">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														연남동 맛집
													</div>
													<div class="header-bar search-box-layer-list-amount">
														100+
													</div>
												</div>
											</li>
											<li class="search-box-layer-list">
												<div class="list-body yap-recommend md">
													<div class="search-box-layer-list-img"></div>
													<div class="header-bar search-box-layer-list-text">
														목동야구장 맛집
													</div>
													<div class="header-bar search-box-layer-list-storename">
														상호
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="header-bar login-button">
							로그인
					</button>
					<div class="after-login-btn-wrap">
						<div class="after-login-btn">
							<div class="profile-img">
								<img src="{{root}}/img/profile_default.png">
							</div>
							<div class="header-bar" id="user-name">100suhyunqqqqqqqqqqq</div>
							<span class="header-bar"></span>
						</div>
						<div class="my-login-layer">
							<span class="small-triangle"></span>
							<ul>
								<li class="my-page-btn">
									<a href="http://localhost:82/my.review.html" title="마이 페이지로 이동">
										<div>마이</div>
									</a>
								</li>
								<li class="setting-btn">
									<a href="http://localhost:82/setting.html" title="설정 페이지로 이동">
										<div>설정</div>
									</a>
								</li>
								<li class="log-out-btn" title="로그아웃">
									로그아웃
								</li>
							</ul>
						</div>
					</div>
					<div class="complete-layer log-out">
						<div class="complete-layer-text">
							로그아웃 되었습니다.
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> login.layer}}
	</header>
