{{set root="../.."}}

<div id="main-login-layer">
	<div class="main-login-layer-container">
		<div class="main-login-layer-box">
			<div class="main-login-layer-body">
				<div class="main-login-layer-title">
					로그인
				</div>
				<i class="layer-close-button" style="background-image: url('{{root}}/img/sp-button-close.png')"></i>
				<div class="main-login-layer-description">
					기존에 사용하시던 서비스 계정이나
					<br>편하신 방법으로 YAP Place를 시작해주세요.
				</div>
				<div class="main-login-layer-button button-email">
					<i class="fa fa-envelope-o email-img"></i>
					<div class="main-login-layer-button-text">
						이메일주소로 시작
					</div>
				</div>
				<div class="main-login-layer-button button-facebook">
					<i class="fa fa-facebook facebook-img"></i>
					<div class="main-login-layer-button-text">
						페이스북으로 시작
					</div>
				</div>
				<div class="main-login-layer-button button-kakao">
					<i class="fa fa-comment kakao-img"></i>
					<div class="main-login-layer-button-text">
						카카오톡으로 시작
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="mail-login-layer">
	<div class="mail-login-layer-container">
		<div class="mail-login-layer-box">
			<div class="mail-login-layer-body">
				<div class="mail-login-layer-title">
					이메일 로그인
				</div>
				<i class="layer-close-button" style="background-image: url('{{root}}/img/sp-button-close.png')"></i>
				<div class="mail-login-email-addr-box">
					<input class="email-addr-inputbox" type="text" placeholder="이메일 주소">
				</div>
				<div class="mail-login-email-password-box">
					<input class="password-inputbox" type="password" placeholder="비밀번호">
				</div>
				<div class="mail-login-remain-check">
					<div class="remain-check-box-container">
						<div class="single-check-box"></div>
						<i class="check-box-active fa fa-check"></i>
					</div>
					<div class="remain-check-text">
						로그인 유지
					</div>
				</div>
				<div class="mail-login-button">
					로그인
				</div>
				<div class="mail-login-find-password">
					비밀번호를 잊어버리셨나요?
				</div>
			</div>
		</div>
		<div class="mail-login-layer-signup-box">
			<div class="mail-login-layer-signup-body">
				<div class="mail-login-layer-signup-text">
					아직 YAP Place에 회원가입을 안 하셨다면
				</div>
				<div class="mail-login-layer-signup-button">
					<i class="fa fa-envelope-o email-img"></i>
					<div class="main-login-layer-signup-button-text">
						이메일주소로 회원 가입
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="find-password-layer">
	<div class="find-password-layer-container">
		<div class="find-password-layer-box">
			<div class="find-password-layer-body">
				<div class="find-password-layer-title">
					이메일 로그인
				</div>
				<i class="layer-close-button" style="background-image: url('{{root}}/img/sp-button-close.png')"></i>
				<div class="find-password-layer-description">
					비밀번호를 찾기 위해 회원 가입한 이메일 주소를<br>
					입력해주세요. 입력한 이메일 주소로 인증 메일이 발송됩니다.<br>
					임시 비밀번호로 로그인하시고<br>
					[회원 정보]-[설정]에서 변경하세요.<br>
				</div>
				<div class="find-password-email-addr-box">
					<input class="email-addr-inputbox" type="password" placeholder="가입한 e-mail 주소">
				</div>
				<div class="find-password-layer-button">
					<div class="cancle-button">
						취소
					</div>
					<div class="find-password-button">
						찾기
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="email-signup-layer">
	<div class="email-signup-layer-container">
		<div class="email-signup-box">
			<div class="email-signup-layer-body">
				<div class="email-signup-layer-title">
					이메일 회원가입
				</div>
				<i class="layer-close-button" style="background-image: url('{{root}}/img/sp-button-close.png')"></i>
				<div class="email-signup-layer-description">
					회원정보를 입력해주세요.
				</div>
				<div class="email-signup-email-addr-box">
					<input class="email-addr-inputbox" type="text" placeholder="이메일 주소">
				</div>
				<div class="email-signup-password-box">
					<input class="password-inputbox" type="password" placeholder="비밀번호를 6자 이상 입력해주세요.">
				</div>
				<div class="email-signup-again-password-box">
					<input class="again-password-inputbox" type="password" placeholder="비밀번호를 다시 한 번 입력해주세요.">
				</div>
				<div class="email-signup-layer-description">
					입력된 이메일 주소로 인증메일이 발송됩니다.<br>
					로그인 및 비밀번호 찾기 등에 사용되니 실제 사용중인<br>
					이메일을 입력하세요.<br>
				</div>
				<div class="email-signup-agreement-title">
					이용약관에 동의해주세요.
				</div>
			</div>
		</div>
		<div class="email-signup-agreement-box">
			<div class="mail-login-layer-signup-body">
				<div class="use-agreement-agree">
					<div class="agreement-title">
						이용약관 동의&gt;
					</div>
					<div class="agreement-description">
						서비스 이용을 위한 기본적인 약속이에요.
					</div>
					<div class="agreement-check-area">
						<div class="agree-check-box-container">
							<div class="single-check-box"></div>
							<i class="check-box-active fa fa-check"></i>
						</div>
						<div class="agreement-check-text">동의</div>
					</div>
				</div>
				<div class="personal-info-agree">
					<div class="agreement-title">
						개인정보 수집 및 이용안내 동의&gt;
					</div>
					<div class="agreement-description">
						정확한 정보를 제공하기 위해 필요해요.
					</div>
					<div class="agreement-check-area">
						<div class="agree-check-box-container">
							<div class="single-check-box"></div>
							<i class="check-box-active fa fa-check"></i>
						</div>
						<div class="agreement-check-text">동의</div>
					</div>
				</div>
				<div class="location-info-agree">
					<div class="agreement-title">
						위치기반 서비스 이용약관 동의&gt;
					</div>
					<div class="agreement-description">
						훌륭한 장소를 추천하기 위해 필요해요.
					</div>
					<div class="agreement-check-area">
						<div class="agree-check-box-container">
							<div class="single-check-box"></div>
							<i class="check-box-active fa fa-check"></i>
						</div>
						<div class="agreement-check-text">동의</div>
					</div>
				</div>
				<div class="mail-receive-agree">
					<div class="agreement-title">
						메일 수신 동의(선택)&gt;
					</div>
					<div class="agreement-description">
						훌륭한 장소를 추천하기 위해 필요해요.
					</div>
					<div class="agreement-check-area">
						<div class="agree-check-box-container">
							<div class="single-check-box"></div>
							<i class="check-box-active fa fa-check"></i>
						</div>
						<div class="agreement-check-text">동의</div>
					</div>
				</div>
			</div>
		</div>
		<div class="email-signup-submit-box">
			<div class="email-signup-submit-body">
				<div class="agreement-all-check-area">
					<div class="agree-all-check-box-container">
						<div class="all-check-box"></div>
						<i class="all-check-box-active fa fa-check"></i>
					</div>
					<div class="agreement-all-check-text">전체동의</div>
				</div>
				<div class="email-signup-complete-button">
					가입 완료
				</div>
			</div>
		</div>
	</div>
</div>
