{{set root="../.."}}

<ul class="social-ranking list">
	<li>
		<div class="ranking-img" style="background-image: url('{{root}}/img/ranking-img-01.jpg')">
			<div class="img-triangle"></div>
			<div class="ranking-img-container">
				<ul>
					<li class="ranking-badge tasty-road"></li>
					<li class="ranking-badge blue-ribbon"></li>
				</ul>
				<div class="ranking-favorite"></div>
				<div class="ranking-social instargram"></div>
			</div>
		</div>
		<div class="ranking-text">
			<div class="ranking-text-container">
				<div class="store-name">
					마초쉐프
				</div>
				<div class="store-desciption">
					강남역의 대표 캐쥬얼 레스토랑!
				</div>
				<div class="store-info">
					<div class="store-local">
						강남역
					</div>
					<div class="check-in">
					<span>
						1693
					</span>
						번 체크인
					</div>
				</div>
				<div class="store-review oval-btn">
					리뷰
					<span>
					273
					</span>
				</div>
				<div class="store-photo oval-btn">
					사진
					<span>
					278
					</span>
				</div>
				<div class="store-score">
					8.4
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="ranking-img" style="background-image: url('{{root}}/img/ranking-img-01.jpg')">
			<div class="img-triangle"></div>
			<div class="ranking-img-container">
				<ul>
					<li class="ranking-badge tasty-road"></li>
					<li class="ranking-badge blue-ribbon"></li>
				</ul>
				<div class="ranking-favorite"></div>
				<div class="ranking-social instargram"></div>
			</div>
		</div>
		<div class="ranking-text">
			<div class="ranking-text-container">
				<div class="store-name">
					마초쉐프
				</div>
				<div class="store-desciption">
					강남역의 대표 캐쥬얼 레스토랑!
				</div>
				<div class="store-info">
					<div class="store-local">
						강남역
					</div>
					<div class="check-in">
					<span>
						1693
					</span>
						번 체크인
					</div>
				</div>
				<div class="store-review oval-btn">
					리뷰
					<span>
					273
					</span>
				</div>
				<div class="store-photo oval-btn">
					사진
					<span>
					278
					</span>
				</div>
				<div class="store-score">
					8.4
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="ranking-img" style="background-image: url('{{root}}/img/ranking-img-01.jpg')">
			<div class="img-triangle"></div>
			<div class="ranking-img-container">
				<ul>
					<li class="ranking-badge tasty-road"></li>
					<li class="ranking-badge blue-ribbon"></li>
				</ul>
				<div class="ranking-favorite"></div>
				<div class="ranking-social instargram"></div>
			</div>
		</div>
		<div class="ranking-text">
			<div class="ranking-text-container">
				<div class="store-name">
					마초쉐프
				</div>
				<div class="store-desciption">
					강남역의 대표 캐쥬얼 레스토랑!
				</div>
				<div class="store-info">
					<div class="store-local">
						강남역
					</div>
					<div class="check-in">
					<span>
						1693
					</span>
						번 체크인
					</div>
				</div>
				<div class="store-review oval-btn">
					리뷰
					<span>
					273
					</span>
				</div>
				<div class="store-photo oval-btn">
					사진
					<span>
					278
					</span>
				</div>
				<div class="store-score">
					8.4
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="ranking-img" style="background-image: url('{{root}}/img/ranking-img-01.jpg')">
			<div class="img-triangle"></div>
			<div class="ranking-img-container">
				<ul>
					<li class="ranking-badge tasty-road"></li>
					<li class="ranking-badge blue-ribbon"></li>
				</ul>
				<div class="ranking-favorite"></div>
				<div class="ranking-social instargram"></div>
			</div>
		</div>
		<div class="ranking-text">
			<div class="ranking-text-container">
				<div class="store-name">
					마초쉐프
				</div>
				<div class="store-desciption">
					강남역의 대표 캐쥬얼 레스토랑!
				</div>
				<div class="store-info">
					<div class="store-local">
						강남역
					</div>
					<div class="check-in">
					<span>
						1693
					</span>
						번 체크인
					</div>
				</div>
				<div class="store-review oval-btn">
					리뷰
					<span>
					273
					</span>
				</div>
				<div class="store-photo oval-btn">
					사진
					<span>
					278
					</span>
				</div>
				<div class="store-score">
					8.4
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="ranking-img" style="background-image: url('{{root}}/img/ranking-img-01.jpg')">
			<div class="img-triangle"></div>
			<div class="ranking-img-container">
				<ul>
					<li class="ranking-badge tasty-road"></li>
					<li class="ranking-badge blue-ribbon"></li>
				</ul>
				<div class="ranking-favorite"></div>
				<div class="ranking-social instargram"></div>
			</div>
		</div>
		<div class="ranking-text">
			<div class="ranking-text-container">
				<div class="store-name">
					마초쉐프
				</div>
				<div class="store-desciption">
					강남역의 대표 캐쥬얼 레스토랑!
				</div>
				<div class="store-info">
					<div class="store-local">
						강남역
					</div>
					<div class="check-in">
					<span>
						1693
					</span>
						번 체크인
					</div>
				</div>
				<div class="store-review oval-btn">
					리뷰
					<span>
					273
					</span>
				</div>
				<div class="store-photo oval-btn">
					사진
					<span>
					278
					</span>
				</div>
				<div class="store-score">
					8.4
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="ranking-img" style="background-image: url('{{root}}/img/ranking-img-01.jpg')">
			<div class="img-triangle"></div>
			<div class="ranking-img-container">
				<ul>
					<li class="ranking-badge tasty-road"></li>
					<li class="ranking-badge blue-ribbon"></li>
				</ul>
				<div class="ranking-favorite"></div>
				<div class="ranking-social instargram"></div>
			</div>
		</div>
		<div class="ranking-text">
			<div class="ranking-text-container">
				<div class="store-name">
					마초쉐프
				</div>
				<div class="store-desciption">
					강남역의 대표 캐쥬얼 레스토랑!
				</div>
				<div class="store-info">
					<div class="store-local">
						강남역
					</div>
					<div class="check-in">
					<span>
						1693
					</span>
						번 체크인
					</div>
				</div>
				<div class="store-review oval-btn">
					리뷰
					<span>
					273
					</span>
				</div>
				<div class="store-photo oval-btn">
					사진
					<span>
					278
					</span>
				</div>
				<div class="store-score">
					8.4
				</div>
			</div>
		</div>
	</li>
</ul>

