{{set root="../.."}}

<ul class="editor-recommend-list">
	<li>
		<div class="editor-info">
			<div class="editor-img" style="background-image: url('{{root}}/img/editor01.jpg')"></div>
			<div class="editor-name">
				케마 (Khema)
			</div>
		</div>
		<div class="editor-recommend-img" style="background-image: url('{{root}}/img/main-section05-img01.jpg')"></div>
		<div class="editor-recommend-text">
			<div class="editor-recommend-list-title">
				인사동 미술관 속 카페의 여유
			</div>
			<div class="editor-recommend-list-description">
				미술관에서 여유를 만드는 공간
			</div>
		</div>
		<ul class="editor-recommend-tag">
			<li class="tag-box">
				<div class="tag-text">
					#핫플Best
				</div>
			</li>
			<li class="tag-box">
				<div class="tag-text">
					#아메리칸다이닝
				</div>
			</li>
			<li class="tag-box">
				<div class="tag-text">
					#아메리칸다이닝
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div class="editor-info">
			<div class="editor-img" style="background-image: url('{{root}}/img/editor02.jpg')"></div>
			<div class="editor-name">
				abraxas
			</div>
		</div>
		<div class="editor-recommend-img" style="background-image: url('{{root}}/img/main-section05-img02.jpg')"></div>
		<div class="editor-recommend-text">
			<div class="editor-recommend-list-title">
				인사동 미술관 속 카페의 여유
			</div>
			<div class="editor-recommend-list-description">
				미술관에서 여유를 만드는 공간
			</div>
		</div>
		<ul class="editor-recommend-tag">
			<li class="tag-box">
				<div class="tag-text">
					#핫플Best
				</div>
			</li>
			<li class="tag-box">
				<div class="tag-text">
					#아메리칸다이닝
				</div>
			</li>
			<li class="tag-box">
				<div class="tag-text">
					#아메리칸다이닝
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div class="editor-info">
			<div class="editor-img" style="background-image: url('{{root}}/img/editor03.jpg')"></div>
			<div class="editor-name">
				Yap Place
			</div>
		</div>
		<div class="editor-recommend-img" style="background-image: url('{{root}}/img/main-section05-img03.jpg')"></div>
		<div class="editor-recommend-text">
			<div class="editor-recommend-list-title">
				인사동 미술관 속 카페의 여유
			</div>
			<div class="editor-recommend-list-description">
				미술관에서 여유를 만드는 공간
			</div>
		</div>
		<ul class="editor-recommend-tag">
			<li class="tag-box">
				<div class="tag-text">
					#핫플Best
				</div>
			</li>
			<li class="tag-box">
				<div class="tag-text">
					#아메리칸다이닝
				</div>
			</li>
			<li class="tag-box">
				<div class="tag-text">
					#아메리칸다이닝
				</div>
			</li>
		</ul>
	</li>
</ul>
